USE [master]
GO
/****** Object:  Database [Hooli_currency]    Script Date: 6/7/2019 6:39:00 PM ******/
CREATE DATABASE [Hooli_currency]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Hooli_currency', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Hooli_currency.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Hooli_currency_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Hooli_currency_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Hooli_currency].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Hooli_currency]
GO
/****** Object:  Table [dbo].[Crypto]    Script Date: 6/7/2019 6:39:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Crypto](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[From] [varchar](3) NOT NULL,
	[To] [varchar](3) NOT NULL,
	[Avg_Rate] [float] NULL,
	[Time] [datetime] NULL,
	[Exchange_Rates] [varchar](max) NULL,
 CONSTRAINT [PK_Crypto] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Foreign]    Script Date: 6/7/2019 6:39:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Foreign](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[From] [varchar](3) NOT NULL,
	[To] [varchar](3) NOT NULL,
	[Avg_Rate] [float] NULL,
	[Time] [datetime] NULL,
	[Exchange_Rates] [varchar](max) NULL,
 CONSTRAINT [PK_Foreign] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Crypto] ADD  CONSTRAINT [DF_Crypto_Time]  DEFAULT (((1)/(1))/(1)) FOR [Time]
GO
ALTER TABLE [dbo].[Foreign] ADD  CONSTRAINT [DF_Foreign_Time]  DEFAULT (((1)/(1))/(1)) FOR [Time]
GO
USE [master]
GO
